a {
  text-decoration: none;
}

table {
  width: 100%;
}

nav h2 {
  color: white;
  padding-left: 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 375px) {
  nav h2 {
    color: white;
    padding-left: 10px;
    font-size: 0.95rem;
  }
}

input {
  border-radius: 5px;
  border: 0.5px solid black;
  height: 25px;
  width: 100%;
  padding-left: 7px;
}

fieldset {
  background-color: white;
  border: none;
  height: 350px;
  width: 500px;
  padding: 0;
}

main {
  flex-grow: 1;
  margin-bottom: 50px;
}

tbody > tr > td {
  padding-top: 1em;
}

tbody tr > td {
  border-bottom: 1px solid black;
}

tr.heading-row {
  padding-top: 0.5em;
}

.height-225 {
  height: 225px;
}

.height-160 {
  height: 160px;
}

.margin-left {
  margin-left: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.width-900 {
  width: 900px;
}

.form-header h3 {
  color: white;
}

.background-color-navy {
  background-color: rgb(10, 82, 130);
}

.column-third {
  flex-basis: calc(100 / 3);
}

.column-two-thirds {
  flex-basis: calc(100 * (2 / 3));
}

.text-align-right {
  text-align: right;
}

.background-color-gray {
  background-color: #f0f0f0;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-0 {
  margin-top: 0;
}

.form-header {
  height: 40px;
}

.align-items-center {
  align-items: center;
}

.padding-left-20 {
  padding-left: 10px;
}

.form-body {
  height: 250px;
}

.padding-top-20 {
  padding-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.display-inline {
  display: inline;
}

.column-33 {
  flex-basis: calc(100% / 3);
}

.column-66 {
  flex-basis: calc(100% * (2 / 3));
}

.width-80 {
  width: 80%;
}

.padding-right {
  padding-right: 10px;
}

.text-align-center {
  text-align: center;
}

.add-meal-button {
  color: white;
  background-color: rgb(10, 82, 130);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 30%;
}

.daily-target-submit {
  color: white;
  background-color: rgb(10, 82, 130);
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 23%;
}

.justify-content-space-between {
  justify-content: space-between;
}

.progress-bar {
  border-radius: 5px;
  border: 1px solid black;
  height: 25px;
  width: 100%;
}

.background-color-white {
  background-color: white;
}

.progress {
  border-radius: 5px;
  border: none;
  height: 23px;
  background-color: rgb(76, 175, 80);
}

.color-white {
  color: white;
}

.color-navy {
  color: rgb(10, 82, 130);
}

.padding-top-3 {
  padding-top: 3px;
}

.font-weight-bold {
  font-weight: bold;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.tint {
  background-color: rgba(0, 0, 0, 0.8);
}

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-basis-15 {
  flex-basis: 15%;
}

.width-90 {
  width: 95%;
}

.margin-right {
  margin-right: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-right-100 {
  margin-right: 100px;
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.center {
  justify-content: center;
  align-items: center;
}

.modal-header {
  color: white;
}

.log-date {
  border-bottom: 5px solid black;
}

#edamam-badge {
  width: 200px;
  text-align: right;
}

.padding-left-45 {
  padding-left: 45px;
}

.delete-button {
  color: white;
  background-color: rgb(235, 33, 33);
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 23%;
}

.cancel-delete-button {
  color: white;
  background-color: rgb(10, 82, 130);
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 23%;
}
